header {
    height: 70px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-bottom: 1px solid grey;
}

.logo {
    display: block;
    width: 36px;
    height: 36px;
}

.llbook {
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}
.llbook:hover {
    color: yellowgreen;
}

.top-search {
   
}

.icon-search {
    font-size: 2rem;
}